* {
    margin: 0;
    padding: 0;
    font-family: system-ui;
    box-sizing: border-box;
    background-color: rgb(36, 37, 38)
  }
nav {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.45);
    position: fixed;
    z-index: 100;
}
.navright {
    display: flex;
    align-items: center;
}
nav > a:hover{
    background-color: rgb(103, 104, 107);
}
.leftside {
    display: flex;
    align-items: center;
}

.leftside a {
    margin-right: 10px;
    display: inline-block;
    width: 36px; /* Adjust the width and height to fit the circle */
    height: 36px;
    border-radius: 50%; /* Ensure the circle shape */
}
.leftside a img {
    padding: 7px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    background-color: rgb(58, 57, 57);
}
.leftside a img:hover{
    background-color: #747373;
} 
.leftinside a {
    border: 0px;
    padding: 0px;
    width: 36px;
    height: 36px;
}
.leftinside a img {
    padding: 0px;
    border-radius: none;
}
.profile img {
    border-radius: 50%;
}
.navright > * {
    margin-right: 10px;
}
.navright form .search-input {
    border: none;
    padding: 10px;
    border-radius: 50px;
    font-size: 1em;
    width: 120%;
    background-color: rgb(61, 63, 65);
    padding-left: 30px;
    background-image: url('images/search.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.navright form .search-input:focus {
    background-image: url('images/arrow.png');
    color: #ffffff;
    text-indent: 2%;
}

.navright form .search-input:focus::placeholder {
    color: transparent;
}
.navright form .search-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-size: 1em;
    text-indent: 2%;
}
.backgroundpicture{
    margin: 0 auto;
    height: 450px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.45);
    width: 80%;
    background-color: rgb(21, 21, 22);
}
.heads > button{
    height: 40px;
    width: 12%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #000;
    text-indent: 10%;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    background-image: url('images/camera.png');
    background-position-x: 5%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    position: absolute;
    left: 77%;
    top: 51%;
}
.heads > button:hover {
    background-color: #ccc;
}
.insidehead > img{
    border: none;
    position: absolute;
    left: 15%;
    top: 51%;
    border-radius: 50%;
    background-color: rgb(36, 37, 38);
    padding: 4px;
    cursor: pointer;
}
.heads > h1{
    color: #ffffff;
    position: absolute;
    left: 30%;
    top: 60%;
}
.heads > p{
    color: #929191;
    position: absolute;
    left: 30%;
    top: 66%;
    font-weight: 500;
}
.friends > img{
    border-radius: 50%;
    position: absolute;
    top: 70%;
    left: 30%;
    cursor: pointer;
}
.friends > img:nth-child(2){
    left: 33.2%;
}
.friends > img:nth-child(3){
    left: 36.4%;
}
.friends > img:nth-child(4){
    left: 39.5%;
}
.btns > button{
    background-color: #0051ff;
    border: none;
    font-size: 1em;
    color: #ffffff;
    height: 40px;
    width: 75px;
    text-indent: 15%;
    background-image: url('images/edit.png');
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 3%;
    position: absolute;
    top: 71%;
    left: 64%;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
}
.btns button:hover{
    background-color:rgb(8, 102, 255);
}
.btns button:nth-child(2):hover{
    background-color:#555454;
}
.btns button:nth-child(3):hover{
    background-color:#555454;
}
.btns button:nth-child(4):hover{
    background-color:#555454;
}
.btns > button:nth-child(2){
    width: 8%;
    background-color: #424242;
    left: 69%;
    background-position-y: 50%;
    background-position-x: 6%;
    background-image: url('images/tools.png');
    background-repeat: no-repeat;
}
.btns > button:nth-child(3){
    width: 7%;
    left: 77.3%;
    background-color: #424242;
    background-repeat: no-repeat;
    background-position-y: 50%;
    background-position-x: 3%;
    background-image: url('images/megaphone.png');
    text-indent: 15%;
}
.btns > button:nth-child(4){
    background-image: url('images/expand_arrow.png');
    width: 3%;
    left: 85%;
    background-color: #424242;
    background-position-x: 50%;
}
.about > button {
    border: none;
    width: 4%;
    font-size: 1.2em;
    cursor: pointer;
    height: 50px;
    color: #929191;
    font-weight: 500;
    position: absolute;
    top: 80%;
    left: 20%;
}
.about > button:hover{
    background-color: rgb(75, 79, 85);
    border-radius: 10%;
}
.about > button:first-child{
    left: 15%;
}
.about > button:nth-child(2){
    left: 20%;
}
.about > button:nth-child(3){
    left: 25%;
}
.about > button:nth-child(4){
    left: 30%;
}
.about > button:nth-child(5){
    left: 35%;
}
.about > button:nth-child(6){
    left: 40%;
}
.about > button:nth-child(7){
    left: 45%;
    width: 7%;
    background-image: url('images/dropdown.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}
.about > button:nth-child(8){
    left: 84%;
    background-color: rgb(56, 57, 59);
    border-radius: 10%;
    background-image: url('images/3dots.png');
    background-repeat: no-repeat;
    background-position: center;
}
.about > button:nth-child(8):hover{
    background-color: rgb(99, 100, 102);
}
.anotherbackgroundmain{
    position: absolute;
    top: 90%;
    height: 3000px;
    box-shadow: 0 1px 8px rgba(34, 33, 33, 0.45);
    width: 100%;
    background-color: rgb(21, 21, 22);
}
.intro > main{
    position: absolute;
    top: 92%;
    left: 15%;
    height: 650px;
    width: 380px;
    background-color: rgb(36, 37, 38);
    border-radius: 10px;
}
.status > h2{
    position: absolute;
    top: 93%;
    left: 16%;
    color: #ffffff;
}
.status > p {
    position: absolute;
    top: 100%;
    left: 25%;
    color: #ffffff;
}
.status > button {
    position: absolute;
    top: 105%;
    left: 15.5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(66, 68, 70);
    height: 40px;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    width: 23%;
}
.status > button:hover{
    background-color: #929191;
}
.achievement > img{
    cursor: pointer;
}
.achievement > h4 > .school{
    cursor: pointer;
}
.achievement > h4 > .school:hover{
    text-decoration-line: underline;
}
.achievement > h4 > .profs:hover{
    text-decoration-line: underline;
}
.achievement > .warning {
    position: absolute;
    top: 112%;
    left: 15.5%;
}
.achievement > .profiletext {
    position: absolute;
    top: 112%;
    left: 18.5%;
    color: #ffffff;
}
.achievement > .graduation{
    position: absolute;
    top: 117%;
    left: 15.5%;
}
.achievement .stud {
    position: absolute;
    top: 116%;
    left: 18.5%;
    color: #ffffff;
}
.featured > .details {
    position: absolute;
    top: 123%;
    left: 15.5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(66, 68, 70);
    height: 40px;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    width: 23%;
}
.featured > img {
    border-radius: 10px;
    cursor: pointer;
}
.featured > .pics1 {
    position: absolute;
    top: 130%;
    left: 15.5%;
}
.featured > .pics2 {
    position: absolute;
    top: 130%;
    left: 23.25%;
}
.featured > .pics3 {
    position: absolute;
    top: 130%;
    left: 31%;
}
.featured > .features{
    position: absolute;
    top: 168%;
    left: 15.5%;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(66, 68, 70);
    height: 40px;
    color: #ffffff;
    font-size: 1em;
    font-weight: 500;
    width: 23%;
}
.featured > button:hover {
    background-color: #929191;
}
.photo main {
    position: absolute;
    top: 178%;
    left: 15%;
    height: 520px;
    width: 380px;
    background-color: rgb(36, 37, 38);
    border-radius: 10px;
}
.photo > h2{
    position: absolute;
    top: 180%;
    left: 16%;
    color: #ffffff;
}
.photo > button {
    border: none;
    cursor: pointer;
    position: absolute;
    width: 8%;
    height: 30px;
    border-radius: 5px;
    top: 180%;
    left: 30%;
    color: rgb(90, 167, 255);
    font-size: 1.1em;
}
.photo > button:hover{
    background-color: #464646;
}
.photo > img {
    cursor: pointer;
}
.photo .photo1{
    border-radius: 10px 0;
    position: absolute;
    top: 186%;
    left: 16%;
}
.photo .photo2{
    border-radius: 0 10px;
    position: absolute;
    top: 186%;
    left: 27%;
}
.photo .photo3{
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: 208.5%;
    left: 16%;
}
.post > .postbackground{
    position: absolute;
    top: 92%;
    left: 40%;
    height: 200px;
    width: 760px;
    background-color: rgb(36, 37, 38);
    border-radius: 10px;
}
.posting > .prof{
    position: absolute;
    top: 95%;
    left: 41%;
    border-radius: 50px;
}
.posting > .post_type {
    position: absolute;
    top: 95%;
    left: 45%;
    border: none;
    border-radius: 20px;
    width: 42%;
    height: 42px;
    background-color: rgb(66, 68, 70);
    color: rgb(176, 179, 184);
    font-size: 1.2em;
    text-align: left;
    text-indent: 3%;
}
.post_type:focus::placeholder {
    color: transparent;
}
.settings > button {
    cursor: pointer;
}
.settings > .live {
    position: absolute;
    top: 105%;
    left: 43%;
    width: 13%;
    height: 8%;
    background-image: url('images/live.png');
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 50%;
    color:rgb(131, 133, 136);
    font-weight: 500;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    text-indent: 10%;
}
.settings > .live:hover {
    background-color: rgb(66, 68, 70);
    border-radius: 10px;
}
.settings > .photo {
    position: absolute;
    top: 105%;
    left: 58%;
    width: 13%;
    height: 8%;
    background-image: url('images/photo.png');
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 50%;
    color:rgb(131, 133, 136);
    font-weight: 500;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    text-indent: 12%;
}
.settings > .photo:hover {
    background-color: rgb(66, 68, 70);
    border-radius: 10px;
}
.settings > .reel {
    position: absolute;
    top: 105%;
    left: 72%;
    width: 13%;
    height: 8%;
    background-image: url('images/reels.png');
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 50%;
    color:rgb(131, 133, 136);
    font-weight: 500;
    font-size: 1.1em;
    border: none;
    cursor: pointer;
    text-indent: 10%;
}
.settings > .reel:hover {
    background-color: rgb(66, 68, 70);
    border-radius: 10px;
}
.anotherpost > .anotherpostbackground{
    position: absolute;
    top: 120%;
    left: 40%;
    height: 150px;
    width: 760px;
    background-color: rgb(36, 37, 38);
    border-radius: 10px;
}
.anotherclasspost > h2 {
    position: absolute;
    top: 121%;
    left: 41%;
    color: #ffffff;
}
.anotherclasspost > button{
    cursor: pointer;
}
.anotherclasspost > .filter {
    position: absolute;
    top: 121%;
    left: 70%;
    border: none;
    color: #ffffff;
    width: 7%;
    height: 30px;
    background-color: rgb(66, 68, 70);
    font-size: 1em;
    background-image: url('images/filter.png');
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 50%;
    border-radius: 10px;
    font-weight: 500;
    text-indent: 10%;
}
.anotherclasspost > .manage_post{
    position: absolute;
    top: 121%;
    left: 78%;
    border: none;
    color: #ffffff;
    width: 9%;
    height: 30px;
    background-color: rgb(66, 68, 70);
    font-size: 1em;
    background-image: url('images/settings.png');
    background-repeat: no-repeat;
    background-position-x: 5%;
    background-position-y: 50%;
    border-radius: 10px;
    font-weight: 500;
    text-indent: 12%;
}
.anotherclasspost > button:hover{
    background-color:rgb(111, 112, 117);
}
.anotherclasspost > .list_view{
    position: absolute;
    top: 130%;
    left: 42%;
    border: none;
    color: #ffffff;
    width: 21%;
    height: 40px;
    font-size: 1em;
    background-image: url('images/list_view.png');
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 50%;
    background-color:rgb(79, 80, 83);
    border-radius: 10px;
    font-weight: 500;
    text-indent: 12%;
}
.anotherclasspost > .grid_view {
    position: absolute;
    top: 130%;
    left: 65%;
    border: none;
    color: #ffffff;
    width: 21%;
    height: 40px;
    font-size: 1em;
    background-image: url('images/grid.png');
    background-repeat: no-repeat;
    background-position-x: 40%;
    background-position-y: 50%;
    background-color:rgb(79, 80, 83);
    border-radius: 10px;
    font-weight: 500;
    text-indent: 12%;
}
.post1 > .posted1{
    position: absolute;
    top: 142%;
    left: 40%;
    height: 800px;
    width: 760px;
    background-color: rgb(36, 37, 38);
    border-radius: 10px;
}
.insidepost1 .prof1{
    position: absolute;
    top: 143%;
    left: 40.5%;
    border-radius: 50px;
}
.insidepost1 > .name{
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    top: 143%;
    left: 44.3%;
}
.insidepost1 > .time {
    cursor: pointer;
    position: absolute;
    top: 146%;
    left: 44.3%;
    width: 3.5%;
    color: rgb(111, 114, 119);
    background-image: url('images/world.png');
    background-repeat: no-repeat;
    background-position: center right;
}
.insidepost1 > .picpost1 {
    cursor: pointer;
    position: absolute;
    top: 151%;
    left: 42.5%;
    border-radius: 10px;
}
.insidepost1 > .account{
    cursor: pointer;
    border-radius: 50px;
    position: absolute;
    top: 223%;
    left: 42.5%;
}
.insidepost1 > .namepost{
    cursor: pointer;
    color: #ffffff;
    position: absolute;
    top: 223%;
    left: 46%;
}
.insidepost1 > .timepost {
    cursor: pointer;
    position: absolute;
    top: 226.5%;
    left: 46%;
    width: 3.5%;
    color: rgb(111, 114, 119);
    background-image: url('images/world.png');
    background-repeat: no-repeat;
    background-position: center right;
}
.insidepost1 > .description {
    position: absolute;
    top: 230.5%;
    left: 43%;
    color: #ffffff;
}
.react > button {
    cursor: pointer;
    width: 13%;
    height: 50px;
    font-size: 1.1em;
    color: #929191;
    background-position-y: 50%;
    background-position-x: 30%;
    text-indent: 10%;
    border: none;
}
.react > button:hover {
    background-color:#424242;
}
.react > .like {
    position: absolute;
    top: 235%;
    left: 43%;
    background-image: url('images/like.png');
    background-repeat: no-repeat;
}
.react > .comment {
    position: absolute;
    top: 235%;
    left: 58%;
    background-position-x: 10%;
    background-image: url('images/comment.png');
    background-repeat: no-repeat;
}
.react > .share {
    position: absolute;
    top: 235%;
    left: 72.5%;
    background-position-x: 10%;
    background-image: url('images/share.png');
    background-repeat: no-repeat;
}